services:
  postgres16:
    image: postgres:16
    container_name: postgres16
    environment:
      POSTGRES_USER: altsys
      POSTGRES_PASSWORD: altsys@123
      POSTGRES_DB: lttsale
    volumes:
      - postgres_data:/var/lib/postgresql@16/data
      - ./init:/docker-entrypoint-initdb.d/
    ports:
      - "5432:5432"

  cms_api:
    image: tampfievk50/lttsale-cms-api:1.0.0
    container_name: cms_api
    ports:
      - "8082:8082"
    volumes:
      - ./etc/cms_api/Main.yaml:/app/application/etc/Main.yaml
      - ./logs:/app/logs
    depends_on:
      - postgres16

  sso:
    image: tampfievk50/lttsale-sso:1.0.0
    container_name: sso
    ports:
      - "9091:9091"
    volumes:
      - ./etc/sso/Main.yaml:/app/application/etc/Main.yaml
      - ./logs:/app/logs
    depends_on:
      - postgres16

volumes:
  postgres_data:
  backend_data: