definitions:
  types.Response:
    properties:
      code:
        type: integer
      data: {}
      msg:
        type: string
    type: object
info:
  contact: {}
paths:
  /v1/auth/login:
    get:
      consumes:
      - application/json
      description: User login
      parameters:
      - description: Profile ID
        in: header
        name: X-Profile-ID
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/types.Response'
      security:
      - BearerAuth: []
      summary: User login
      tags:
      - AuthHandler
swagger: "2.0"
